In [1]:
import pandas as pd

In [2]:
from policyengine_us import Microsimulation
ECPS = "hf://policyengine/policyengine-us-data/enhanced_cps_2024.h5"
sim = Microsimulation(dataset=ECPS)
sim.subsample(100, seed = 1000) # .subsample is an in-place method
df = sim.to_input_dataframe()

/Users/john/miniforge3/envs/pengine/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df

,employment_income_before_lsr__2024,self_employment_income_before_lsr__2024,farm_income__2024,county_fips__2024,state_fips__2024,deductible_mortgage_interest__2024,alimony_expense__2024,unreimbursed_business_employee_expenses__2024,educator_expense__2024,student_loan_interest__2024,...,savers_credit__2024,prior_year_minimum_tax_credit__2024,foreign_tax_credit__2024,american_opportunity_credit__2024,energy_efficient_home_improvement_credit__2024,takes_up_eitc__2024,general_business_credit__2024,cdcc_relevant_expenses__2024,tanf_reported__2024,housing_assistance__2024
0,49372.191406,0.0,0.0,1,23,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,1,23,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,17,25,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
3,261904.765625,0.0,0.0,21,25,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0,0.0,0.0
4,52380.953125,0.0,0.0,21,25,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.000000,0.0,0.0,29,41,0.000000,0.0,271.199799,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
221,2009.718140,0.0,0.0,0,41,12162.553711,0.0,186.488388,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
222,0.000000,0.0,0.0,0,41,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
223,65408.070312,0.0,0.0,0,41,2736.574707,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
224,0.000000,0.0,0.0,0,41,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0

In [32]:
weights = sim.calculate("household_weight", period=2024).to_list()
weights

[1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 2880831.75,
 1440415.875,
 1440415.875,
 2880831.75,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 2880831.75,
 2880831.75,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 2880831.75,
 1440415.875,
 1440415.875,
 1440415.875,
 1440415.875,
 2880831.75,
 1440415.875,
 1440415.875,
 2880831.75,
 1440415.875,
 2880831.75,
 1440415.875,
 1440415.875]

In [ ]:
num = pow(sum(weights), 2)
denom = 0

for weight in weights:
    denom+=pow(weight, 2)

num/denom

86.20689655172427

In [4]:
sim2 = Microsimulation(
    dataset=df,
)
dependence = sim2.calculate("is_tax_unit_dependent", period = 2024).to_frame()
df2 = pd.concat([df, dependence], axis = 1)

In [5]:
dependence

         0
0    False
1     True
2    False
3    False
4    False
..     ...
220  False
221  False
222  False
223  False
224   True

[225 rows x 1 columns]

In [6]:
tax_unit_dependents = sim2.calculate("tax_unit_dependents", period = 2024)

In [7]:
tax_unit_dependents

     value       weight
0        1  1440415.875
1        0  1440415.875
2        0  1440415.875
3        0  1440415.875
4        0  1440415.875
..     ...          ...
129      1  2880831.750
130      0  1440415.875
131      0  1440415.875
132      1  1440415.875
133      0  1440415.875

[134 rows x 2 columns]

In [8]:
for variable in [
    "family_id__2024", "tax_unit_id__2024", "household_id__2024"
]:
    unique_obs = len(list(set(df[variable])))
    print(f"unique {variable} = {unique_obs}")

unique family_id__2024 = 102
unique tax_unit_id__2024 = 134
unique household_id__2024 = 92

In [9]:
# check how many 
variable = "spm_unit_id__2024"
unique_obs = len(list(set(df[variable])))
print(f"unique {variable} = {unique_obs}")

unique spm_unit_id__2024 = 95

In [10]:
# check what unit ids look like
df["person_id__2024"]

0         47701
1         47702
2        354301
3        405001
4        405002
         ...
220    16815204
221    16863203
222    16863204
223    16863205
224    16863206
Name: person_id__2024, Length: 225, dtype: int32

In [11]:
df2.rename(
    columns={
        'spm_unit_net_income_reported__2024': 'net_income', 
        'spm_unit_total_income_reported__2024': 'income',
        0: 'is_tax_unit_dependent'
        }, 
    inplace=True
    )

In [12]:
df2.columns

Index(['employment_income_before_lsr__2024',
       'self_employment_income_before_lsr__2024', 'farm_income__2024',
       'county_fips__2024', 'state_fips__2024',
       'deductible_mortgage_interest__2024', 'alimony_expense__2024',
       'unreimbursed_business_employee_expenses__2024',
       'educator_expense__2024', 'student_loan_interest__2024',
       ...
       'prior_year_minimum_tax_credit__2024', 'foreign_tax_credit__2024',
       'american_opportunity_credit__2024',
       'energy_efficient_home_improvement_credit__2024', 'takes_up_eitc__2024',
       'general_business_credit__2024', 'cdcc_relevant_expenses__2024',
       'tanf_reported__2024', 'housing_assistance__2024',
       'is_tax_unit_dependent'],
      dtype='object', length=141)

In [13]:
spm_demographics = []
for spm_unit in list(set(df2["spm_unit_id__2024"])):
    members_list = df2[df2["spm_unit_id__2024"]==spm_unit]
    dependents = sum(members_list["is_tax_unit_dependent"])
    household_size = members_list.shape[0]
    working = household_size - dependents
    spm_demographics.append([spm_unit, household_size, working, dependents])

In [14]:
df_spm_demographics = pd.DataFrame(
    spm_demographics,
    columns=['spm_unit', 'household_size', 'working', 'dependents']
    )

In [20]:
df3 = pd.merge(
    df2, df_spm_demographics, 
    how='left', 
    left_on='spm_unit_id__2024',
    right_on='spm_unit'
    )

df4 = df3[
    (df3["is_household_head__ETERNITY"] == True) &
    (df3["income"] > 0) &
    (df3["net_income"] > 0)
]

In [17]:
df4

,employment_income_before_lsr__2024,self_employment_income_before_lsr__2024,farm_income__2024,county_fips__2024,state_fips__2024,deductible_mortgage_interest__2024,alimony_expense__2024,unreimbursed_business_employee_expenses__2024,educator_expense__2024,student_loan_interest__2024,...,takes_up_eitc__2024,general_business_credit__2024,cdcc_relevant_expenses__2024,tanf_reported__2024,housing_assistance__2024,is_tax_unit_dependent,spm_unit,household_size,working,dependents
0,49372.191406,0.000000,0.0,1,23,0.000000,0.0,0.000000,0.0,0.0,...,True,0.0,0.0,0.0,0.0,False,477001,2,1,1
2,0.000000,0.000000,0.0,17,25,0.000000,0.0,0.000000,0.0,0.0,...,True,0.0,0.0,0.0,0.0,False,3543001,1,1,0
3,261904.765625,0.000000,0.0,21,25,0.000000,0.0,0.000000,0.0,0.0,...,False,0.0,0.0,0.0,0.0,False,4050001,2,2,0
5,42875.906250,0.000000,0.0,27,25,0.000000,0.0,0.000000,0.0,0.0,...,True,0.0,0.0,0.0,0.0,False,4867001,1,1,0
7,0.000000,14874.372070,0.0,0,36,0.000000,0.0,0.000000,0.0,0.0,...,True,0.0,0.0,0.0,0.0,False,6805001,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,69661.625000,0.000000,0.0,0,47,0.000000,0.0,341.268982,0.0,0.0,...,False,0.0,0.0,0.0,0.0,False,140107002,2,2,0
212,191283.281250,0.000000,0.0,0,48,24888.189453,0.0,1286.752808,0.0,0.0,...,True,0.0,0.0,0.0,0.0,False,150245002,4,3,1
216,2009.718140,0.000000,0.0,0,48,12162.553711,0.0,186.488388,0.0,0.0,...,True,0.0,0.0,0.0,0.0,False,153646002,3,2,1
219,158000.250000,13642.132812,0.0,29,41,9594.904297,0.0,4854.476074,0.0,0.0,...,False,0.0,0.0,0.0,0.0,False,168152002,2,2,0
221,2009.718140,0.000000,0.0,0,41,12162.553711,0.0,186.488388,0.0,0.0,...,True,0.0,0.0,0.0,0.0,False,168632002,4,3,1

In [21]:
df4.to_csv("ecps_subsample_hsv_compatible.csv")

# check obs by state in the resample

In [45]:
df4['state_fips__2024'].value_counts()
len(list(set(df4['state_fips__2024'])))

30

# what if i resample the microdata myself

In [40]:
sim3 = Microsimulation(dataset=ECPS)

df = sim3.to_input_dataframe()

In [43]:
df
state_count = df['state_fips__2024'].value_counts()
state_count

state_fips__2024
6     11612
48     9084
12     6444
36     5234
42     3592
17     3470
39     3398
37     3380
13     3214
26     2956
34     2800
51     2684
53     2480
4      2296
18     2224
25     2180
47     2072
8      1830
55     1796
45     1772
29     1756
24     1720
1      1698
27     1568
22     1486
41     1412
21     1324
40     1306
49     1190
32     1148
5      1068
9      1062
19     1060
28      998
20      982
35      854
31      818
16      758
54      596
33      588
23      522
10      432
30      426
44      374
15      374
46      344
38      300
2       294
50      280
56      266
11      204
Name: count, dtype: int64