In [26]:
import pandas as pd

In [40]:
from policyengine_us import Microsimulation
ECPS = "hf://policyengine/policyengine-us-data/enhanced_cps_2024.h5"
sim = Microsimulation(dataset=ECPS)
sim.subsample(100, seed = 1000) # .subsample is an in-place method
df = sim.to_input_dataframe()

In [41]:
df

,employment_income_before_lsr__2024,self_employment_income_before_lsr__2024,farm_income__2024,county_fips__2024,state_fips__2024,deductible_mortgage_interest__2024,alimony_expense__2024,unreimbursed_business_employee_expenses__2024,educator_expense__2024,student_loan_interest__2024,...,savers_credit__2024,prior_year_minimum_tax_credit__2024,foreign_tax_credit__2024,american_opportunity_credit__2024,energy_efficient_home_improvement_credit__2024,takes_up_eitc__2024,general_business_credit__2024,cdcc_relevant_expenses__2024,tanf_reported__2024,housing_assistance__2024
0,49372.191406,0.0,0.0,1,23,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,1,23,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,17,25,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
3,261904.765625,0.0,0.0,21,25,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0,0.0,0.0
4,52380.953125,0.0,0.0,21,25,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.000000,0.0,0.0,29,41,0.000000,0.0,271.199799,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
221,2009.718140,0.0,0.0,0,41,12162.553711,0.0,186.488388,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
222,0.000000,0.0,0.0,0,41,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
223,65408.070312,0.0,0.0,0,41,2736.574707,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0
224,0.000000,0.0,0.0,0,41,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0.0,0.0,0.0

In [50]:
sim2 = Microsimulation(
    dataset=df,
)
dependence = sim2.calculate_dataframe(
    ["is_tax_unit_dependent"], 
    period = 2024
    )
df2 = pd.concat([df, dependence], axis = 1)

In [51]:
dependence

          weight  is_tax_unit_dependent
0    1440415.875                  False
1    1440415.875                   True
2    1440415.875                  False
3    1440415.875                  False
4    1440415.875                  False
..           ...                    ...
220  1440415.875                  False
221  1440415.875                  False
222  1440415.875                  False
223  1440415.875                  False
224  1440415.875                   True

[225 rows x 2 columns]

In [48]:
df2.columns

Index(['employment_income_before_lsr__2024',
       'self_employment_income_before_lsr__2024', 'farm_income__2024',
       'county_fips__2024', 'state_fips__2024',
       'deductible_mortgage_interest__2024', 'alimony_expense__2024',
       'unreimbursed_business_employee_expenses__2024',
       'educator_expense__2024', 'student_loan_interest__2024',
       ...
       'foreign_tax_credit__2024', 'american_opportunity_credit__2024',
       'energy_efficient_home_improvement_credit__2024', 'takes_up_eitc__2024',
       'general_business_credit__2024', 'cdcc_relevant_expenses__2024',
       'tanf_reported__2024', 'housing_assistance__2024', 'spm_unit_size',
       'is_tax_unit_dependent'],
      dtype='object', length=142)

In [27]:
df.shape[0]

225

In [4]:
for variable in [
    "family_id__2024", "tax_unit_id__2024", "household_id__2024"
]:
    unique_obs = len(list(set(df[variable])))
    print(f"unique {variable} = {unique_obs}")

unique family_id__2024 = 102
unique tax_unit_id__2024 = 134
unique household_id__2024 = 92

In [9]:
# check how many 
variable = "spm_unit_id__2024"
unique_obs = len(list(set(df[variable])))
print(f"unique {variable} = {unique_obs}")

unique spm_unit_id__2024 = 95

In [28]:
# check what unit ids look like
df["person_id__2024"]

0         47701
1         47702
2        354301
3        405001
4        405002
         ...
220    16815204
221    16863203
222    16863204
223    16863205
224    16863206
Name: person_id__2024, Length: 225, dtype: int32

In [7]:
df.rename(
    columns={
        'spm_unit_net_income_reported__2024': 'net_income', 
        'spm_unit_total_income_reported__2024': 'income',
        }, 
    inplace=True
    )

In [11]:
for spm_unit in list(set(df["spm_unit_id__2024"])):
    df[df["spm_unit_id__2024"]==spm_unit]