In [1]:
import mle_module

/Users/john/miniforge3/envs/env_3/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
microsim = mle_module.ModifiedMicrosimulation()

In [3]:
microsim.get_dataframe()

In [4]:
microsim.dataframe

,household_market_income,household_net_income,household_size,tax_unit_dependents,household_weight
0,146.523712,38927.289062,3,1.0,608.083069
1,41795.972656,50738.644531,2,0.0,1576.879639
2,0.000000,22143.414062,2,1.0,586.886047
3,17.443298,4487.443359,1,0.0,1510.559326
4,10179.710938,29371.634766,1,0.0,1537.932495
...,...,...,...,...,...
56246,34939.277344,33524.773438,1,0.0,402.066467
56247,58587.429688,49597.625000,2,0.0,709.115173
56248,0.000000,6564.000000,1,0.0,586.208740
56249,118074.585938,121402.109375,4,1.0,387.369049
56250,136650.062500,115906.578125,5,3.0,723.155579

In [6]:
microsim.remove_zero_income()
microsim.dataframe

,household_market_income,household_net_income,household_size,tax_unit_dependents,household_weight
0,146.523712,38927.289062,3,1.0,608.083069
1,41795.972656,50738.644531,2,0.0,1576.879639
2,0.000000,22143.414062,2,1.0,586.886047
3,17.443298,4487.443359,1,0.0,1510.559326
4,10179.710938,29371.634766,1,0.0,1537.932495
...,...,...,...,...,...
56246,34939.277344,33524.773438,1,0.0,402.066467
56247,58587.429688,49597.625000,2,0.0,709.115173
56248,0.000000,6564.000000,1,0.0,586.208740
56249,118074.585938,121402.109375,4,1.0,387.369049
56250,136650.062500,115906.578125,5,3.0,723.155579